body {
    padding: 0px;
    margin: 0px;
    background-color: #eee;
}

.item {
    display: block;
    height: 100vh;
    width: 100vw;
}

h1 {
	color: red;
}

#sync2 {
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
}

#sync2 .item > * {
    box-shadow: 5px 5px 3px #888888;
}

#sync1, #sync2 {
    transition: transform 300ms ease, opacity 300ms ease;
}

#sync1 .item{
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#sync2 .item{
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    height: inherit;
    width: inherit;


}
#sync2 .item h1{
  font-size: 18px;
}
#sync2 .synced .item{
  background: #0c83e7;
}
